<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Привычки</title>
</head>
<body>
        <!-- Хедер -->
    <header>
        <nav>
            <a href="{% url 'welcome' %}">Главная</a>
            <a href="{% url 'home' %}">Привычки</a>
            <a href="{% url 'register' %}">Регистрация</a>
        </nav>
    </header>
    <div class="container">
    <h1>Привет, {{ request.user.username }}!</h1>
    <p>Вот твои текущие привычки:</p>
    <ul>
        {% for habit in habits %}
            <li>{{ habit.name }} (начало: {{ habit.start_date }}, окончание: {{ habit.end_date }})</li>
            <a href="{% url 'daily_progress' habit.id %}">Фиксировать прогресс</a>
        {% empty %}
            У тебя пока нет привычек. Почему бы не создать одну?
        {% endfor %}
    </ul>
    <a href="{% url 'add_habit' %}">Добавить новую привычку</a>
    <a href="{% url 'welcome' %}">Вернуться на страницу приветствия</a>
          </div>
    <!-- Футер -->
    <footer>
        <p>© 2023 Все права защищены.</p>
    </footer>
</body>
</html>