<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
        <!-- Хедер -->
    <header>
        <nav>
            <a href="{% url 'welcome' %}">Главная</a>
            <a href="{% url 'home' %}">Привычки</a>
            <a href="{% url 'register' %}">Регистрация</a>
        </nav>
    </header>
     <div class="container">
    <h1>Регистрация</h1>
             {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password"><br><br>
        <label for="confirm_password">Подтвердите пароль:</label>
        <input type="password" id="confirm_password" name="confirm_password"><br><br>
        <button type="submit">Зарегистрироваться</button>
    </form>
      </div>
            <!-- Футер -->
    <footer>
        <p>© 2023 Все права защищены.</p>
    </footer>
</body>
</html>