<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
</head>
<body>
    <h1>Добро пожаловать в наш трекер привычек!</h1>
    <p>
        Приветствуем вас на нашем сайте!
        Как известно, привычка формируется за 40 дней, и именно столько времени требуется нашему мозгу,
        чтобы адаптироваться к новым поведенческим моделям.
        Мы создали уникальное приложение, которое поможет вам освоить полезные навыки и избавиться от тех привычек,
        которые больше не служат вашим целям. С нашей поддержкой вы сможете сделать каждый день шагом вперед к лучшей версии себя.</p>
    <div>
        {% if not user.is_authenticated %}
            <a href="{% url 'register' %}">Зарегистрируйся сейчас</a>
        {% else %}
            <a href="{% url 'home' %}">Перейти к своим привычкам</a>
        {% endif %}
    </div>
</body>
</html>